<div class="forms">
    <FORM>
        <h1>CONTACT US FOR MORE INFORMATION</h1>
        <TABLE>
            <tr><td><label for="Name" > Name : </label></td>
                <td><input type="text"  required></td>
              </tr>
              <tr>
                <td><label for="Email" >Email : </label></td>
                <td> <input type="text"  required></td>
               </tr>
               <tr>
                <td>
                <label> Message :</label>
                </td>  
                <td>
                    <textarea cols="40" rows="5" name="message"  value="message" required > </textarea>  
                </td>
            </tr>
        </TABLE>
        <button type="submit" class="register">Submit</button> 
    </FORM>
    </div>
   
