
<h2><b>Courses Offered</b></h2>
<table>
    <tr>
       <th>Certificate Program</th>
       <th>Advanced program</th>
   </tr>
    <tr>
        <td>Certificate in English Communication and IT</td>
        <td>Advanced program in web designing</td>
    </tr>
    <tr>
        <td>Certificate in Ecommerce Consultant Service</td>
        <td>Advanced program in Dot net programming</td>
    </tr>
    <tr>
        <td>Certificate in English Communication and digial education in excel specilization</td>
        <td>Advanced program in computer infrastructure services</td>
    </tr>
    <tr>
        <td>Impact</td>
        <td>Advanced program in computer operation and digital education</td>
    </tr>
    <tr>
        <td>Certificate in Accointing and excel expert</td>
        <td>Advanced program in Java Web programming</td>
    </tr>
    <tr>
        <td></td>
        <td>Advanced program in digital marketing</td>
    </tr>
    <tr>
        <td></td>
        <td>Advanced program in Graphics Designing</td>
    </tr>
    <tr>
        <td></td>
        <td>Advanced program in Hardware and Networking</td>
    </tr>

</table>

<h2><b>
    Global Certification Courses</b></h2>
<img src="../../assets/Window-nogk9itpnb0wncw8f9p40rnjoeflwl1q5olyj3ylyo.png" alt="">
<img src="../../assets/Adobe-nogk9f2cvyvrcx1p182lqslpauy51smst600m046nk.png" alt="">
<img src="../../assets/CCNA-nogk9f2cvyvrcx1p182lqslpauy51smst600m046nk.png" alt="">
<img src="../../assets/Ceh-nogk9g072sx1oj0bvqh8bad5w8ti9hqj5ani3a2shc.png" alt="">
<img src="../../assets/office-nogk9hvvggzmbqxlkrahg9w330k8ovxztjyh1u004w.png" alt="">
<img src="../../assets/Tally-nogk9itpnb0wncw8f9p40rnjoeflwl1q5olyj3ylyo.png" alt="">
